@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');

.counter {
  font-family: 'Rubik Burned', system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image {
  cursor: pointer;
  width: 15%;
  height: 15%;
  overflow: hidden;
  border: none;
  background: none;
}

.cookie:hover {
  filter: drop-shadow(0 0 25px rgba(255, 165, 0, 0.9));
  transform: scale(1.02);
}

.monster:hover {
  filter: drop-shadow(0 0 25px rgba(2, 153, 216, 0.9));
  transform: scale(1.02);
}
